name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
     name: build
     runs-on: ubuntu-latest
     steps:

     - name: Check out code
       uses: actions/checkout@v6

     - name: test buildV1
       run: make build

     - name: test buildV3
       run: make build3
